<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Airport</title>
</head>
<body>
    <h1>Edit Airport</h1>
    <form action="/airports/<%=airport._id%>?_method=PUT" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" name="airport[name]" id="name" value="<%=airport.name%>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" name="airport[location]" id="location" value="<%=airport.location%>">
        </div>
        <div>
            <label for="description">Description</label>
            <input type="text" name="airport[description]" id="description" value="<%=airport.description%>">
        </div>
        <button>Update Campground</button>
    </form>
    <a href="/airports/<%=airport._id%>">Back To Airport</a>
</body>
</html>