<% layout('layouts/boilerplate.ejs') %> 
<div id="map" style="width: 100%; height: 500px"></div>
<h1>All Airports</h1>
<div>
    <a href="/airports/new">Add Airport</a>
</div>

<!-- <div class="row">
    <div class="col-md-6 offset-3 my-3">
        <input class="form-control border border-dark" type="search" name="search" id="search" placeholder="Search Airport">
    </div>
</div> -->

<% for (let airport of airports) { %> 
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <%if(airport.images.length) {%>
                    <img class="img-fluid" alt="" src="<%=airport.images[0].url%>">
                    <% }else {%>
                    <img class="img-fluid" alt=""
                        src="https://res.cloudinary.com/downnbcia/image/upload/v1656525399/AirportReview/l5qhikykx14qkt2mno2j.jpg">
                    <% } %>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title"><%= airport.name %></h5>
                    <p class="card-text"><%= airport.description %></p>
                    <p class="card-text text-muted"><%= airport.location%></p>
                    <a href="/airports/<%=airport._id%>" class="btn btn-primary">View <%= airport.name %></a>
                </div>
            </div>
        </div>
    </div>
<% } %>  

<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const airports = { features: <%- JSON.stringify(airports) %>}
</script>



<script src="/javascripts/clusterMap.js"></script> 